#PARAMS_BEG
OutputFile=flatPi0Sample.root
OutputPrefix=workarea/
MaxEvents=-30000
DrGenMatchMin=0.1
IsMC=1
GenParticlePDGID=111
GenParticleIsStable=0
DoGenMatching=1
SCAbsEtaMin=-1e2
SCAbsEtaMax=1.4
InputTreeName=Ntuples/EventTree
#PARAMS_END
#FILELIST_BEG
/grid_mnt/t3storage3/athachay/bs2mumug/photonID/store/DoublePi0FlatPt1To20.root
#FILELIST_END
